body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
body p{
    font-size:15px;
}
body h1{
    font-size: 50px;
}
#top-banner{
    text-align:center;
    background-image: url(image/donation12.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#H-white{
    color: white;  
}
#H-blue{
    color: rgb(24, 72, 230);
}
#top-banner p{
    color: white;
}
.banner-text{
    margin: 10% auto 10% auto;
    text-align: center;
    
}
.link-button {
    margin-top: auto%;
    text-decoration: none;
    background-image: linear-gradient(orange, rgba(240, 68, 68, 0.822));
    padding: 10px 30px;
    color: azure;
    font-weight: 600;
    border-radius: 5px;
}
.flex-contain {
    display: flex;
    margin-bottom: 70px;
}
.donation-box{
    text-align: center;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 40px;
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 10px;
}
#donation-box2{
    text-align: center;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 40px;
    background-color: rgba(224, 67, 67, 0.26);
    border-radius: 10px; 
}
#food{
    text-align:left;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 40px;
    background-color: rgba(16, 235, 16, 0.349);
    border-radius: 10px;
} 
#shelter{
    text-align:left;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 40px;
    background-color: rgba(16, 104, 235, 0.349);
    border-radius: 10px;
} 
#education{
    text-align:left;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 40px;
    background-color: rgba(235, 16, 217, 0.349);
    border-radius: 10px;
}
.half-width {
    width: 50%;
    padding:5%;
}
.half-width img{
    width: 80%;
    margin-top: 2%;
    border-radius: 10px;
}
#update{
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 40px;
    background-color: rgba(16, 104, 235, 0.349);
    border-radius: 10px;
}
.input{
    margin-left: 40%;
}
.foot{
    height: 150px;
    text-align: center;
    background-color:rgb(4, 10, 31);
    margin: auto;
}
.foot p{
    color: white;
}
#footid{
    color: rgb(245, 99, 14);
}
